 
  div {
    background-color:rgba(93, 158, 7, 0.466);
    color: #000000;
    border: 2px solid #000000;
    min-height: 250px;
    text-align: center;
    padding: 60px;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif}